<html>
    <head>
        <title>PortFolio</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    </head>
    <body>
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu">
                  <div class="item">
                    <strong><i class="connectdevelop icon large"></i></strong>
                  </div>
                  <div class="right menu">
                    <a class="item" href="/about">About</a>
                    <a class="item" href="/skills">Skills</a>
                  </div>
            </div>
        </div>
   