<%include ./partials/header %>
<div >
    <img src="https://devnikimages.s3.amazonaws.com/my_image.jpg" class="ui centered medium circular image" alt="myImage">
    <p>Hi, I am Nick. I am graduate Software Engineer. I can crack problems<br>
     and write code using major programming languages. I like cloud computing and <br>
    I am familiar with DevOps tools and practices. Apart from that, I am <br>
 a big fan of IronMan movies and one of my dream is to create a virtual assistant <br>
like Jervos</p>
</div>

<%include ./partials/footer %>