<%include ./partials/header %>
<div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <h2>Content - 1</h2>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h2>Content - 2</h2>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h2>Content - 3</h2>
      </div>
    </div>
  </div>
<%include ./partials/footer %>